* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.cabeçalho-imagem {
    height: 60px;
}

.cabeçalho-menu {
    display: flex;
    gap: 32px;
}

.cabeçalho-item-menu {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #c40030 85.61%);
}

.container {
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: FontAwesome;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #c40030;
    /* Botão com fundo vinho */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sublinhado {
    text-decoration: underline;
}